{% extends 'users/base.html' %}

{% block content %}

<main class="container">
  <div class="p-1 p-md-5 mb-2 text-white rounded bg-steel">
    
  </div>
    <h3 class="pb-4 mb-4 fst-normal border-bottom text-center text-primary">
        Steps to take
      </h3>


 <!----------------------------------------------------------------------------------------------------------------------------------      -->


    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1 : Sign Up</strong>
              <h3 class="mb-1"></h3>
              <ul>
              <li>Click on Sign up to create account, Use a Valid Email</li>
              <li>Log out</li>
              <li>Sign up to create a second account, use a valid email during sign up</li>
              <li>Log in using either of the accounts</li>
              <li>Click on "Compose Email" to compose an email</li>
              <li>A page with a drop down list of registered will be displayed</li>
              <li>Select the user you want to send an email to</li>
              <li>Enter a subject</li>
              <li>Compose a message</li>
              <li>Click on "Send" to send the email</li>
              <li>You will be notified once the email is successfully sent </li>
              <li>Log into the email account for the user you selected</li>
              <li>You should see the email that was sent in the "Inbox" or "Spam" folder</li>

            </ul>
            </div>
   
          </div>
        </div>


<!-- ------------------------------------------------------------------------------------------------------------------------------- -->

<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Step 2 : Password Reset </strong>
          <ul>
            <li>Click on the "Log In" menu at the top right corner</li>
            <li>If you're logged in, log out and go to the "Log In" page</li>
            <li>Sign up to create a second account, use a valid email during sign up</li>
            <li>On the "Log In" page click on "Forgot Password?" link</li>
            <li>A "Reset Password page will be displayed for you to enter your email address </li>
            <li>Enter the email address of one of the registered users</li>
            <li>Log into the email account for the user you selected</li>
            <li>You should see a request for password reset email in the "Inbox" or "Spam" folder</li>
            <li>This email will have a link to it, click on the link</li>
            <li>It will take you to a page for you to enter your new password</li>
            <li>Once you have entered and submited the form, it will take you to a page confirming the password reset was a success</li>
            <li>Log in to try the new password</li>
    </ul>
    </div>
  </div>
</div>
</div>
  



</main>


{% endblock content%}